**rename error** - 해결못함ㅜㅜ
- NameError: name 'os' is not defined    라는 오류    
- import os 해주고 아래처럼 작성
- https://discourse.jupyter.org/t/rename-failed-os-path-is-not-defined/14687/3

In [3]:
import os

def rename_file(self, old_path, new_path):
    """Rename a file."""
    old_path = old_path.strip('/')
    new_path = new_path.strip('/')
    if new_path == old_path:
        return

          
    if (is_hidden(old_path, self.root_dir) or is_hidden(new_path, self.root_dir)) and not self.allow_hidden:
        raise web.HTTPError(400, f'Cannot rename file or directory {os_path!r}')

------------------

In [6]:
import pandas as pd

# col 생략 없이 출력
pd.set_option('display.max_columns', None)

df = pd.read_csv("nlp_data/practice.csv")
df.info()

df = df.drop('index',axis=1)

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54879 entries, 0 to 54878
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   54879 non-null  int64
 1   text    54879 non-null  object
 2   score   54879 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.3+ MB

                                                text  score
0  He was almost choking. There was so much, so m...      3
1             “Your sister asked for it, I suppose?”      2
2   She was engaged one day as she walked, in per...      1
3  The captain was in the porch, keeping himself ...      4
4  “Have mercy, gentlemen!” odin flung up his han...      3